body {
    background-color: skyblue;
    padding: 5%;
}

html {
    background-color: darkgray;
    margin: 2%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 2%;
    float: left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

#modalPopoverDivParent {
    width: 75%;
    border: solid 1px purple;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    display: flex;
    flex-flow: column;
    text-align: center;
}

#modalPopoverDiv {
    width: 75%;
    border: solid 1px purple;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}